<footer>
    <div class="mid txtCenter" >
        <div class="friendLink">
            <!--<ul>-->
                <!--<li><a href="about">关于长虹</a></li>-->
                <!--<li>|</li>-->
                <!--<li><a href="contact">联系我们</a></li>-->
                <!--<li>|</li>-->
                <!--<li><a href="protocol">开发者协议</a></li>-->
            <!--</ul>-->
        </div>
        <div class="corporation">
            <span class="copyright">© 2014-2015 四川长虹电子集团有限公司。</span>
        </div>
        <div class="corporation">
            <span>版权所有&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;保留所有权利&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;川 ICP 备 0200093 号</span>
        </div>
    </div>
</footer>